*{
    font-family: "Barlow-SemiBold", Helvetica;
}

:root {
    --main-bg-color: #F3F2F7;
    --main-text-color: #464154;
    --second-text-color: #009d63;
    --third-text-color:#d9d9d9;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .third-text {
    color:var(--third-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }


body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom center;
  height:100%;
}

#main-container{
  background:rgba(0, 157, 99, 0.15);
}


/* css */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  color: #fff;
}

.title {
  font-size: 20px;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--second-text-color);
  margin: 0;
}



.signin {
  font-size: 14.5px;
  color: #000;
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline var(--second-text-color);
}

.signin a {
  color: var(--second-text-color);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  
  color: #000;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid var(--second-text-color);
  border-radius: 10px;
  
}

.form label .input + span {
  color:var(--second-text-color);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: var(--second-text-color);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {

  background-color: var(--second-text-color);
}


